**Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.**

Sample DataFrame:
*   exam_data = {'name': ['anand', 'aryan', 'darshan', 'chetan', 'sidhart', 'rajesh', 'jaykumar', 'vaibhav', 'sarang', 'ganesh'],
*   'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
*   'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
*   'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
*   labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [2]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['anand', 'aryan', 'darshan', 'chetan', 'sidhart', 'rajesh', 'jaykumar', 'vaibhav', 'sarang', 'ganesh'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

       name  score  attempts qualify
a     anand   12.5         1     yes
b     aryan    9.0         3      no
c   darshan   16.5         2     yes
d    chetan    NaN         3      no
e   sidhart    9.0         2      no
f    rajesh   20.0         3     yes
g  jaykumar   14.5         1     yes
h   vaibhav    NaN         1      no
i    sarang    8.0         2      no
j    ganesh   19.0         1     yes